.teste {
	position: relative;
}

.section {
    /* the important one*/
    background-attachment: fixed; 
 
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section1 {
    background-color: #ccffff;
}

#section2 {
    background-color: #66ffff;
}

#section3 {
    background-color: #00e6e6;
}

#section4 {
	background-color: #008080;
}

/* Styling titles and text for the sections with backgrounds*/
.intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
}
.intro h1 {
    font-size: 5em;
    font-weight: bold;
    color: #000;
}
 
/* Styling our last section, our content */
#section4 .intro {
    color: #000;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:white;
    padding: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}

.content {
	text-align: center;
}